.load {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  .dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $decore-color;
    margin-right: 10px;
  }

  .dots:last-child {
    margin-right: 0;
  }
}
