.banner {
  background: url("../images/bg/bg1.png") no-repeat;
  background-size: cover;
}

  .main__page {
    padding: 200px 140px;
    box-sizing: border-box;

    h1 {
      color: $decore-color;
      font-size: 40px;
      margin: 0;
    }

    &__title {
      font-weight: bold;
    }

    .make__order {
      margin: 50px 0 0 20px;
      span {
        margin-right: 20px;

        img {
          margin-right: 15px;
        }
      }
    }
  }

