.sales {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 15px 100px;

  .title {
    text-align: center;
    padding-bottom: 50px;

    h1 {
      margin: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    background-color: white;
    min-width: 370px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;

    margin-bottom: 20px;

    &:hover {
      box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    }

    img {
      margin-right: 15px;
    }

    .sales__content {
      padding-left: 15px;
      border-left: 1px solid #f0f2f4;

      h1 {
        margin: 0;
      }
    }
  }

  &__rate {
    display: flex;
    align-items: center;
  }
}
