$font-color: #5b6975;
$decore-color: #ff7013;
$background-color: #f6f8f9;

body, html {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $font-color;
}

a:hover{
  color: $decore-color;
  cursor: pointer;
}

a:active {
  color: darken($decore-color, 10%);
}

.main {
  padding: 50px 0 50px 0;
}

div, section {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  background-color:  $background-color;
}

.white {
  background-color: white;

}

.inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@import "header";
@import "mainPage";
@import "catalog";
@import "load";
@import "adv";
@import "sales";
@import "news";
@import "footer";
@import "example";
@import "directory";



@media screen and (max-width: 1200px) {
  .social__media,
  .main__page,
  header,
  .catalog,
  footer,
  .load,
  .sales,
  .news,
  .adv,
  .example,
  .directory {
    width: 100%;
  }

  .catalog__row {
    margin: 0 auto;
  }

  header {
    nav {
      margin-right: 250px;
    }
  }
.example__description {
  .choose__details {
    flex-direction: column;
  }
  .choose__details__quantity {
    padding: 0;
  }
}

  .inner-wrap {
    grid-template-columns: repeat(2, 270px);
    width: 570px;
  }

  .block {
    width: 570px;
  }

  .catalog__card {
    display: none;
  }

}

@media screen and (max-width: 1024px) {
  .social__media,
  .main__page,
  .header__menu,
  .catalog,
  .footer__block,
  .load,
  .sales,
  .news,
  .adv,
  .example,
  .directory {
    width: 100%;
  }

  .header__menu {
    nav {
      margin-right: 250px;
    }
  }

  .banner {
    background-position: -200px;
  }

  .sales__row {
    justify-content: center;
  }

  .sales__item {
    margin-right: 20px;
  }


  .catalog__card {
    display: none;
  }

}

