body, html {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: #5b6975; }

a {
  text-decoration: none;
  color: #5b6975; }

a:hover {
  color: #ff7013;
  cursor: pointer; }

a:active {
  color: #df5800; }

.main {
  padding: 50px 0 50px 0; }

div, section {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  background-color: #f6f8f9; }

.white {
  background-color: white; }

.inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.icons {
  margin-right: 15px; }

.icons:last-child {
  margin-right: 0; }

.social__media {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f2f4;
  font-size: 16px; }
  .social__media .feedback {
    display: flex; }
    .social__media .feedback__block {
      margin-right: 20px; }
      .social__media .feedback__block .feedback__item {
        display: inline-block;
        margin-left: 10px; }

.header__menu {
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid #f0f2f4; }
  .header__menu nav {
    margin-right: 450px; }
    .header__menu nav a {
      margin-right: 22px; }

.banner {
  background: url("../images/bg/bg1.png") no-repeat;
  background-size: cover; }

.main__page {
  padding: 200px 140px;
  box-sizing: border-box; }
  .main__page h1 {
    color: #ff7013;
    font-size: 40px;
    margin: 0; }
  .main__page__title {
    font-weight: bold; }
  .main__page .make__order {
    margin: 50px 0 0 20px; }
    .main__page .make__order span {
      margin-right: 20px; }
      .main__page .make__order span img {
        margin-right: 15px; }

.decore__color {
  color: #ff7013; }

.catalog {
  text-align: center;
  margin-bottom: 80px; }
  .catalog .title {
    margin-bottom: 50px; }
    .catalog .title h1 {
      font-size: 34px; }
  .catalog__row {
    display: flex;
    justify-content: space-between; }
    .catalog__row .catalog__item {
      background-color: white;
      margin-right: 30px;
      width: 270px;
      padding: 20px;
      font-weight: bold;
      position: relative; }
      .catalog__row .catalog__item:last-child {
        margin-right: 0; }
      .catalog__row .catalog__item p {
        margin: 0;
        line-height: 3;
        font-size: 20px; }
  .catalog__picture {
    transition: 0.5s; }

.catalog__item:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }

.catalog__item:hover .catalog__picture {
  transform: scale(0.5) translateY(-80px);
  transition: 0.5s; }

.catalog__item:hover .open__item {
  transform: scaleY(1);
  top: 150px;
  transition: 0.5s; }

.open__item {
  position: absolute;
  background-color: white;
  padding: 20px;
  left: 0;
  top: 200px;
  box-sizing: border-box;
  width: 270px;
  transform: scale(0);
  transition: 0.5s; }
  .open__item .item_colors {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f0f2f4;
    padding: 10px 0; }
    .open__item .item_colors .circle__link {
      margin-right: 8px; }
      .open__item .item_colors .circle__link .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%; }
    .open__item .item_colors .circle:last-child {
      margin-right: 0; }
    .open__item .item_colors .red {
      background-color: #e94650; }
    .open__item .item_colors .gray {
      background-color: #43525d; }
    .open__item .item_colors .blue {
      background-color: #44c1ff; }
    .open__item .item_colors .green {
      background-color: #2fdc7a; }
  .open__item .catalog__item__icons {
    margin: 40px 0 20px 0; }
    .open__item .catalog__item__icons a {
      margin-right: 30px; }
    .open__item .catalog__item__icons a:last-child {
      margin-right: 0; }

.load {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }
  .load .dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff7013;
    margin-right: 10px; }
  .load .dots:last-child {
    margin-right: 0; }

.adv {
  width: 1200px;
  margin: 0 auto;
  padding: 80px 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  .adv__box__first {
    margin-right: 30px;
    background-color: white;
    width: 670px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    line-height: 1; }
    .adv__box__first h1 {
      margin: 0;
      font-size: 20px; }
    .adv__box__first p {
      font-size: 16px; }
    .adv__box__first .adv__price {
      display: flex;
      align-items: center;
      border-left: 1px solid #f0f2f4; }
      .adv__box__first .adv__price img {
        margin: 0 30px; }
      .adv__box__first .adv__price p {
        color: #ff7013;
        font-size: 30px;
        font-weight: bold; }
  .adv__box__second {
    background-color: white;
    width: 470px;
    text-align: center;
    padding: 20px 0; }
    .adv__box__second p {
      margin: 0;
      letter-spacing: 2px;
      font-size: 16px;
      color: rgba(67, 82, 93, 0.4); }

.sales {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 15px 100px; }
  .sales .title {
    text-align: center;
    padding-bottom: 50px; }
    .sales .title h1 {
      margin: 0; }
  .sales__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .sales__item {
    background-color: white;
    min-width: 370px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin-bottom: 20px; }
    .sales__item:hover {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }
    .sales__item img {
      margin-right: 15px; }
    .sales__item .sales__content {
      padding-left: 15px;
      border-left: 1px solid #f0f2f4; }
      .sales__item .sales__content h1 {
        margin: 0; }
  .sales__rate {
    display: flex;
    align-items: center; }

.news {
  width: 1200px;
  margin: 0 auto 100px auto;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  padding: 30px 0;
  box-sizing: border-box; }
  .news .news__block {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 17px; }
    .news .news__block img {
      margin-right: 20px; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff7013;
  color: white; }

.footer__block {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 90px 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 2; }
  .footer__block .payment {
    font-size: 18px; }
    .footer__block .payment a {
      color: #ff7013; }

.example {
  display: flex;
  padding: 100px 85px 135px 85px;
  box-sizing: border-box; }
  .example__photo {
    text-align: center;
    margin: 0 20px 0 0; }
  .example .details {
    display: flex;
    margin-top: 50px; }
    .example .details .miniature {
      width: 100px;
      background-color: #f6f8f9;
      margin-right: 15px;
      padding: 10px; }
      .example .details .miniature:active {
        background-color: #ff7013;
        cursor: pointer; }
      .example .details .miniature:active img {
        opacity: 0.2; }
      .example .details .miniature:last-child {
        margin-right: 0; }
  .example__description__title {
    font-weight: bold; }
  .example__description h1 {
    color: #ff7013;
    font-size: 40px;
    margin: 0; }
  .example__description .choose__details {
    border-top: 1px solid #f0f2f4;
    border-bottom: 1px solid #f0f2f4;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .example__description .choose__details__size {
      display: flex; }
      .example__description .choose__details__size p {
        margin-right: 20px; }
    .example__description .choose__details__quantity {
      display: flex;
      padding: 20px 0; }
      .example__description .choose__details__quantity p {
        margin-right: 20px; }
  .example__description .order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0; }
    .example__description .order__price {
      display: flex; }
      .example__description .order__price p {
        margin-right: 20px; }
    .example__description .order__ord img {
      margin-right: 10px; }
    .example__description .order__ord .radius {
      border-radius: 30px; }
      .example__description .order__ord .radius:hover {
        color: white; }

.directory {
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  .directory section {
    line-height: 2; }
  .directory__filter h1 {
    margin: 0; }
  .directory__filter ul {
    margin: 0;
    list-style: none;
    padding: 0; }
  .directory__filter__categories {
    padding: 40px;
    margin: 0 30px 30px 0; }
  .directory__filter__price-filter {
    padding: 40px;
    margin: 0 30px 30px 0; }
    .directory__filter__price-filter__text {
      display: flex; }
    .directory__filter__price-filter__input {
      width: 50px; }
  .directory__filter__sizes {
    padding: 40px;
    margin: 0 30px 30px 0; }
  .directory__filter__brands {
    padding: 40px;
    margin: 0 30px 30px 0; }

.inner-wrap {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(3, auto);
  text-align: center;
  justify-content: normal;
  grid-gap: 30px;
  width: 870px; }

.ratio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%); }
  .ratio:checked + .checkpoint {
    border: 5px solid #ff7013; }

.checkpoint {
  width: 15px;
  height: 15px;
  background-color: #f1f3f5;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  box-sizing: border-box; }

.catalog__item {
  margin-right: 0; }

label:hover .checkpoint {
  border: 5px solid #ff7013; }

label:hover {
  cursor: pointer;
  color: #ff7013; }

label:active .checkpoint {
  border: 5px solid #ff7013; }

output {
  display: inline-block;
  margin: 0 5px 10px;
  text-align: center; }

.block {
  width: 870px;
  margin-top: 30px; }

@media screen and (max-width: 1200px) {
  .social__media,
  .main__page,
  header,
  .catalog,
  footer,
  .load,
  .sales,
  .news,
  .adv,
  .example,
  .directory {
    width: 100%; }

  .catalog__row {
    margin: 0 auto; }

  header nav {
    margin-right: 250px; }

  .example__description .choose__details {
    flex-direction: column; }
  .example__description .choose__details__quantity {
    padding: 0; }

  .inner-wrap {
    grid-template-columns: repeat(2, 270px);
    width: 570px; }

  .block {
    width: 570px; }

  .catalog__card {
    display: none; } }
@media screen and (max-width: 1024px) {
  .social__media,
  .main__page,
  .header__menu,
  .catalog,
  .footer__block,
  .load,
  .sales,
  .news,
  .adv,
  .example,
  .directory {
    width: 100%; }

  .header__menu nav {
    margin-right: 250px; }

  .banner {
    background-position: -200px; }

  .sales__row {
    justify-content: center; }

  .sales__item {
    margin-right: 20px; }

  .catalog__card {
    display: none; } }

/*# sourceMappingURL=sass.css.map */
